<div class="row about-content justify-content-center align-items-center">
  <div class="col-lg-8 col-sm-12">
    <h1>About Me!</h1>
    <p>I live in Hyderabad, India.</p>
    <p>I watch a lot movies and play cricket.</p>
    <p>I have a beautiful wife and two adorable kids.</p>
    <p>I started my career as a web developer at <span class="txt-yellow">Avni Media Pvt.Ltd</span>.</p>
    <p>I was the Sr Web Developer at <span class="txt-yellow">Krisha Softwares</span> and <span class="txt-yellow">McRaan Systems</span>.</p>
    <p>I am currently working as a Staff Web Developer at <span class="txt-yellow">Microsemi</span>.</p>
    <p>I have a more detailed
      <a href="/assets/Resume_RanjithBhattaru.pdf" target="_blank" style="font-size:23px;">résumé</a> if you're into that sort of thing.</p>
  </div>
  <div class="col-lg-4 col-sm-12 my-img">
    <img src="/assets/images/me.PNG">
  </div>
</div>
