<div class="row contact-content justify-content-center align-items-center">
  <div class="col-lg-8 col-sm-12">
    <h1>Get in touch!</h1>
    <div>Write me an
      <a href="mailto:ranjith.b.simha@gmail.com">email</a>
    </div>
    <div>Call me on my
      <a href="tel:+919705228787">phone</a>
    </div>
    <div>Find me on
      <a href="https://github.com/bhattaru" target="_blank">github</a> or
      <a href="https://www.linkedin.com/in/ranjithbhattaru/" target="_blank">linkedin</a>
    </div>
  </div>
  <div class="col-lg-4 col-sm-12 my-img">
    <img src="/assets/images/me.PNG">
  </div>
</div>
