<div class="row work-content justify-content-center align-items-center">
  <div class="col-lg-8 col-sm-12">
    <h1>Technical Exposure!</h1>

    <!-- Section: Features v.3 -->
    <section class="my-5">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-lg-12">

          <!-- Grid row -->
          <div class="row mb-3">
            <!-- Grid column -->
            <div class="col-xl-10 col-md-11 col-10 tech-icon">
              <i class="fab fa-angular"></i>
              <i class="fab fa-node-js"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-joomla"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-js-square"></i>
              <i class="fab fa-github"></i>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->
        </div>
        <!--Grid column-->

      </div>
      <!-- Grid row -->

    </section>
    <!-- Section: Features v.3 -->
  </div>
  <div class="col-lg-4 col-sm-12 my-img">
    <img src="/myProfile/assets/images/me.PNG">
  </div>
</div>
