<div class="row home-content justify-content-center align-items-center">
    <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
  <div class="col-md-8 col-sm-12">
    <div>Hello!</div>
    <h1>I'm Ranjith Bhattaru</h1>
    <div class="intro">An Enthusiastic & Performance-Driven Professional with an extensive experience in efficiently handling</div>
    <ul id="myList" [@homeListAnimation]="items.length">
      <li *ngFor="let item of items"><i class="fas fa-long-arrow-alt-right"></i>{{ item }}</li>
    </ul>
  </div>
  <div class="col-md-4 col-sm-12 my-img">
    <img src="assets/images/me.PNG">
  </div>
</div>
